* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #404040;
  font-family: Jost;
}

@font-face {
  font-family: Jost;
  src: url("./fonts/Jost-Regular.ttf");
}

#header {
  margin: 20px;
  text-align: center;
}

#bubblesort-button {
}
#quicksort-button {
}
#mergesort-button {
}
#insertionsort-button {
}
#selectionsort-button {
}
#shuffle-button {
}
