* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #404040;
  font-family: Montserrat-Thin;
}

@font-face {
  font-family: Jost;
  src: url("./fonts/Jost-Regular.ttf");
}

@font-face {
  font-family: Montserrat-Thin;
  src: url("./fonts/Montserrat-Thin.ttf");
}

body {
  background-color: rgb(246, 246, 246);
}

h1 {
  font-size: 20pt;
}

button {
  border: none;
  border-radius: 5px;
  padding: 16px;
  white-space: nowrap;
  font-size: 9pt;
  background-color: rgb(246, 246, 246);
}

button:hover {
  background-color: rgb(232, 232, 232);
}

#header {
  background-color: rgb(173, 216, 230, 0.5);
  padding: 20px;
  position: relative;
  margin: 40px 0 40px 20px;
  text-align: left;
  z-index: 1;
}

#sorting-content {
  display: flex;
  margin: 0px 40px 0px 40px;
}

#sorting-content > * {
  /*background-color: white;*/
  /*border-radius: 8px;*/
  padding: 20px;
  box-shadow: 0px 4px 8px 4px rgb(0, 0, 0, 0.025);
}

#sorting-content > *:not(:last-child) {
  margin-right: 20px;
}

#sorting-options {
  display: flex;
  flex-direction: column;
}

#sorting-options > *:not(:last-child) {
  margin-bottom: 10px;
}

#bubblesort-button {
}
#quicksort-button {
}
#mergesort-button {
}
#insertionsort-button {
}
#selectionsort-button {
}
#shuffle-button {
}
