#sorting-container {
  position: relative;
  display: inline-grid;
  padding: 240px 40px 40px 40px;
  /*height: 500px;*/
  align-items: end;
  gap: 0px;
  background-color: white;
}
/*
#sorting-container::before {
  position: absolute;
  bottom: 100%;
  content: "";
  background-color: white;
  height: 200px;
  width: 100%;
}
*/
.bar {
  background-color: #404040;
  position: relative;
}

.bar:hover {
  border: 1px solid rgb(72, 231, 255);
}

.is-swapping {
  background-color: rgb(255, 60, 154);
}

.is-traversing::after {
  content: "";
  z-index: 10;
  position: absolute;
  top: 100%;
  background-color: rgb(48, 212, 215, 0.5);
  width: 4px;
  height: 120px;
  transform: translate(0, -100%);
}

.height-indicator {
  position: absolute;
  top: -140px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 10px;
  z-index: 10;
}

.height-indicator::after {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  content: "";
  height: 117px;
  width: 1px;
  background-color: rgb(72, 231, 255);
}
