#sorting-container {
  display: inline-grid;
  padding: 160px 20px 10px 20px;
  height: 500px;
  align-items: end;
  gap: 7px;
}

.bar {
  background-color: #404040;
  border-radius: 25vw 25vw 0 0;
}

.bar:hover {
  background-color: lightblue;
}

.is-swapping {
  background-color: rgb(255, 60, 154);
}

.is-traversing::after {
  content: "";
  position: absolute;
  top: 100%;
  background-color: pink;
  width: 10px;
  height: 10px;
  transform: translate(0, -100%);
}
